name: Template Cleanup
on:
  push:
    branches:
      - main

jobs:
  template_cleanup:
    name: Template Cleanup
    runs-on: ubuntu-latest
    if: github.event.repository.name != 'pico_template'
    steps:
    
      - name: Checkout
        uses: actions/checkout@v2.4.0
        
      - name: Replace Tokens
        uses: cschleiden/replace-tokens@v1
        with:
          tokenPrefix: '%'
          tokenSuffix: '%'
          files: '*'
        env:
          REPO_NAME: ${{ github.event.repository.name }}
          
      - name: Self Destruction
        run: rm -rf .github/workflows/template_cleanup.yml
        
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Template cleanup"
          
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
